footer{
    background: @school-color;

    color: @white;

    // text-align: center;

    .nav-cont{
        .flex(column, space-between, none);
        align-items: flex-start;
        // .limit-max-width();

        // width: @content-width;

        @media @tablet{
            .flex(row, space-between, none);
            width: 95%;
        }
    }

    .logo{
        .flex(row, space-evenly, none);

        text-decoration: none;
        // margin-left: 15px;
    }

    img{
        width: 40px;
        height: 40px;
    }

    h1{
        color: @white;
    }

    h2{
        padding: 15px 0;
        font-size: 3.2rem;
        color: @white;

    }

    nav{
        display: flex;
        justify-content: space-between;

        a{
            // .link();
            font-size: 2.2rem;
            color: @white;
            text-decoration: none;
            padding-right: 15px;
            @media @tablet{
                padding: 15px;
            }
        }
    }

    p{
        padding-bottom: 20px;
        @media @tablet{
            text-align: center;
        }
    }

    .content-width{
        padding: 0;
    }
}

