.main-header{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../images/physicsplayground.png');
    background-position: center top;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .flex(row, center, none);

    height: 200px;

    color: @white;

    @media @tablet{
        height: 300px;
    }

    @media @desktop{
        height: 450px;
    }

    .main-header-cont{
        .flex(row, center, none);

        width: 100%;

        .limit-max-width();
    }

    .call-to-action{
        width: 350px;
        text-align: center;

        @media @tablet{
            padding-left: 30%;
        }

        h2{
            padding: 15px;
        }
    }

    button{
        .button-base(@school-color, @white, 1.8rem);
    }
}

#about{
    // padding: 20px 0;

    .about-cont{
        .flex(row, space-evenly, none);
    }

    .how-img{
        max-width: 40%;
        max-height: 350px;
    }
    .about-text{
        width: 80%;

        margin-right: 60px;

        h2{
            // margin: 10px 0;
        }
    }

    .social-icons{
        margin-top:20px;
        a{
            .link();
            font-size: 3.5rem;
            margin: 0 10px;
        }
    }
}

#skills{
    background: @section-background;

    // padding: 40px 0 20px 0;
    

    .mentor-tile-cont{
        width: @content-width;

        .flex(column, flex-start, none);
    
        @media @desktop{
            flex-direction: row;
        }
    }

    h2{
        margin-bottom: 15px;
    }
    h3{
        margin-bottom: 5px;
    }

    .mentor{
        .flex(row, flex-start, none);

        margin-right: 30px;
    }
    img{
        width: 100px;
        border-radius: 100px;
    }
}

#projects{
    .class-tile-cont{
        .flex(row, flex-start, wrap);

        .limit-max-width();
    }


    .class{
        .flex(column-reverse, space-evenly, none);

        width: 40%;
        height: 180px;

        background: @section-background;

        font-size: 2rem;

        margin: 20px 20px 0 0;

        @media @tablet{
            flex-direction: column-reverse;
            width: 20%;
            height: 180px;
        }
    }

    img{
        max-height: 80%;
        max-width:60%;

        @media @tablet{
            max-width:60%;
        }
    }
}

.content-width{
    width: @content-width;
    padding: 30px 0 30px 0;
    .limit-max-width();
    @media @tablet{
        width: 95%;
    }
}