*{
  font-family: Helvetica;
}

body{
  background-color: #fdf9ff;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
  background: #fdf9ff;
}
#about{
  display: flex;
}

#aboutText{
  flex: 0 0 65%;
}

#aboutLinks{
  flex: 1;
  padding-left: 40px;
}

.project{
  margin-left: 20px;
}
      
.essay{
  margin-top: 80px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddc5e6;
  color: black;
}

.topnav a.active {
  background-color: #77458a;
  color: white;
}
